@font-face {
  font-family: "Rethink Sans";
  src: url('./assets/Fonts/RethinkSans-VariableFont_wght.ttf');
}
* {
  font-family: "Rethink Sans";
}
:root {
  --bg: rgb(235, 239, 254);
  --heading: "Rethink Sans";

  background: var(--bg);
}
body {
  margin: 0;
  font-family: "Rethink Sans";
  color: var(--text-color);
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-color);
}
html, body {
    scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
}